<%= form_with(model: @user, local: true, class: "max-w-2xl mx-auto bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <h2 class="text-2xl font-bold mb-4 text-center text-purple-400">Edit Profile</h2>
  <div class="max-w-md mx-auto mt-8">
    <% if @user.errors.any? %>
      <div class="bg-red-500 text-white px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">Oops!</strong>
        <ul class="mt-2 list-disc list-inside">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-4">
      <%= f.label :username, class: "block text-gray-300 text-sm font-bold mb-2" %>
      <%= f.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-6">
      <%= f.label :email, class: "block text-gray-300 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <% if current_user.admin? && current_user != @user %>
      <div class="mb-6">
        <%= f.label :role, class: "block text-gray-300 text-sm font-bold mb-2" %>
        <%= f.select :role, User.roles.keys.map { |role| [role.capitalize, role] }, {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
    <div class="flex items-center justify-between">
      <%= f.submit "Update Profile", class: "bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300" %>
      <%= link_to "Cancel", @user, class: "inline-block align-baseline font-bold text-sm text-purple-400 hover:text-purple-500 transition duration-300" %>
    </div>
  </div>
<% end %>
